@import 'constants';

.accessibility-alert {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;

  font-size: 20px;

  color: $white;
  background-color: #db9b26;
  border-color: #db9b26;

  .steps {
    font-style: italic;
  }

  .how-button, .why-button {
    font-size: 20px;
    text-decoration: underline;
    font-style: italic;

    display: inline-block;
    border: 0px;
    cursor: pointer;

    outline: none;
    background: transparent;
    color: $white;
  }
}

.update-alert, .offline-alert {
  padding: 10px;
  margin-bottom: 10px;

  font-size: 20px;

  color: $white;
}

.update-alert {
  background-color: #db9b26;
  border-color: #db9b26;
}

.offline-alert {
  background-color: #db4126;
  border-color: #db4126;
}

.connection-status {
  text-align: center;
  color: $black;

  &.connection-status--error {
    color: $red;
  }
}
