@import 'reset';
@import 'form';
@import 'alert';

@import 'fontawesome-5.0.4/fontawesome.scss';
@import 'fontawesome-5.0.4/fa-solid';

body, input {
  font-family: sans-serif;
}

.start-form {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  .name {
    outline: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 0.4rem;
    border: 1px solid #bbb;
    width: 18rem;

    &.invalid {
      border-color: $red;
    }
  }

  .start-buttons {
    margin-top: 10px;
  }
}

.or-separator {
  font-size: 12px;
  margin: 14px;
}

.name-error {
  margin-top: 6px;

  font-size: 12px;
  font-family: sans-serif;
  color: $red;

  text-align: center;
}

.stats {
  margin-top: $standard-spacing;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  .stats--title {
    font-size: $base-font-size;
  }
}

.stat {
  line-height: 2 * $standard-spacing;

  .stat--name, .stat--value {
    font-size: 0.8 * $base-font-size;
  }

  .stat--name {
    color: #888;
  }

  .stat--value {
    color: #444;
  }
}

.connected-buttons {
  text-align: center;
  margin-bottom: 4 * $standard-spacing;
}

.connection-failed-buttons {
  text-align: center;
  margin-top: $standard-spacing;
}
