@import 'reset';
@import 'form';
@import 'alert';

@import 'fontawesome-5.0.4/fontawesome.scss';
@import 'fontawesome-5.0.4/fa-solid';

body, input {
  font-family: sans-serif;
}

.start-form {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  .name {
    outline: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 0.4rem;
    border: 1px solid #bbb;
    width: 18rem;

    &.invalid {
      border-color: $red;
    }
  }

  .start-buttons {
    margin-top: 10px;
  }
}

.or-separator {
  font-size: 12px;
  margin: 14px;
}

.name-error {
  margin-top: 6px;

  font-size: 12px;
  font-family: sans-serif;
  color: $red;

  text-align: center;
}

.stats {
  margin-top: 1rem;
}
